@import "variables";

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;

  background-color: $background-color;

  cursor: default;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
