.section {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;

  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // minus header height and margin/paddings of main etc
    height: calc(100vh - 122px - (85px + 45px) * 2);
  }
}

.section__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

.section__title {
  max-width: 600px;
}
